<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <title>移动组的日志系统</title>

</head>
<body>
<header th:include="/common::header"></header>

<!--<form id="fileForm" name="fileForm" enctype="multipart/form-data" action="string/upload" method="post">-->
<!--<input class="form-control" type="file" name="file" id="file"/>-->
<!--<button id="btn" type="submit">提交</button>-->
<!--</form>-->
<!--<div class="progress">-->
<!--<div id="progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">-->
<!--0%-->
<!--</div>-->
<!--</div>-->

<div style="margin: 20px">

    <form id="search" name="search" method="post" action="/string/upload" enctype="multipart/form-data">
    <div class="input-group mb-3"  >

        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="lang" name="lang" >
                <option value="en">en</option>
                <option value="ar">ar</option>
                <option value="fr">fr</option>
                <option value="de">de</option>
                <option value="es">fr</option>
                <option value="id">id</option>

            </select>
        </div>

        <input th:value="${param.domain}" id="domain" name="domain" type="text" class="form-control" placeholder="domain"
               aria-label="Recipient's username" aria-describedby="basic-addon2" onkeydown="filterEvent()">
        &nbsp;&nbsp;&nbsp;
        <input th:value="${param.appVersion}" id="appVersion" name="appVersion" type="text" class="form-control" placeholder="App版本"
               aria-label="Recipient's username" aria-describedby="basic-addon2" onkeydown="filterEvent()">
        &nbsp;&nbsp;&nbsp;

    </div>
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file"  name="file">
            <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">提交</button>
        </div>
    </div>
    </form>


</div>

<script type="text/javascript">


</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" ></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->

<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="150"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>


</body>
</html>

