<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.api.mapper.ApiModelMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tp.api.entity.ApiModel">
        <id column="id" property="id" />
        <id column="url" property="url" />
        <result column="response" property="response" />
        <result column="request" property="request" />
        <result column="created_time" property="createdTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" />
        <result column="domain" property="domain"></result>
        <result column="platform" property="platform"></result>
        <result column="apiname" property="apiname"></result>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, response, request, domain,platform,created_time, update_time, created_by,apiname
    </sql>

</mapper>
